/* Reset de margen y padding para todos los elementos */
* {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

a {
    color: grey;
    transition: color 0.3s;
}

a:hover {
    color: #000000;
}

/* Portada */
#portada {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

#portada h1,
#portada h2 {
    font-family: 'Caveat', cursive;
}

#portada h1 {
    font-size: 50px;
}

#portada h2 {
    font-size: 30px;
}

/* Cabecera */
.cabecera {
    background-color: black;
    margin: 0 auto;
    padding: 15px 0;
}

.cabecera h1,
.cabecera h2 {
    color: aliceblue;
    font-size: 50px;
}

.cabecera h2 {
    font-size: 30px;
}

/* Menú */
.menu {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

/* Lista */
#lista ul {
    margin: 0;
    padding: 0;
    margin-top: 1%;
}

#lista ul li {
    padding: 1%;
    border-top: solid black 1px;
}

#ultimo {
    border-bottom: solid black 1px;
}

#lista ul a {
    text-decoration: none;
    list-style: none;
}

#lista li:hover {
    color: white;
    font-size: 20px;
    background-image: url(fondo.jpg);
}

/* Galería de imágenes */
#galeriaimg {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.gallery img {
    max-height: 300px;
}

/* Retroceso */
.retroceso a {
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: black;
}

/* Servicios */
#servicios li {
    list-style: none;
    margin-top: 5px;
    font-family: 'Satisfy', cursive;
    font-size: 35px;
}

/* Descripción */
#descripcion p {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

/* Sobre Nosotros */
#sobrenos {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

/* Formulario */
form {
    font-family: 'Satisfy', cursive;
}

input {
    font-family: 'Satisfy', cursive;
}
